*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 100vh; */
  width: auto;
  gap: 30px;
  background-image: url(https://static.vecteezy.com/system/resources/previews/001/849/553/original/modern-gold-background-free-vector.jpg);
  background-position: fixed ;
  background-repeat: no-repeat;

  /* background-image: blur(100vh); */
  /* filter: blur(.3vh); */
  background-size: auto;

}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  height: 100px;
  width: 70%;
  background: transparent;
  background-color: antiquewhite;
  border: 2px solid burlywood;
  border-radius: 16px;
  padding: 20px;
}

h2{
  padding: 10px;
  font-size: 28px;
}

input{
  width: 70%;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  outline: none;
  border: none; 
  background-color: white;
  font-size: 18px;
}

.image_container{
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
}
 
img{
  height: 200px;
  width: 200px;
  border-radius: 12px;
}